---
context: ""
global:
  dc_name: ""
  registry: registry.dac.nokia.com
  pullsecret: dacsecret
  #dac_pullsecret: dacsecret
  giturl: "gitlabe1.ext.net.nokia.com"
  #ext_domain: ""
import:
  - versions.yaml
include:
  - name: daas-namespace
    path: daas-management/daas-namespace  
  - name: nsc-namespace
    path: nsc/namespace
  - name: monitor
    path: daaas-monitoring
    include: 
      - name: namespace
  - name: dac-secrets
    path: daas-management/dac-secrets
#  - name: rook
#    path: daas-management/rook
#    include:
#      - name: operator
#      - name: cluster
#      - name: pool
#      - name: objectstore
#      - name: toolbox
#  - name: grafana
#    path: daaas-monitoring/grafana
#  - name: efk
#    path: daaas-monitoring/efk
#    include:
#      - name: elastic
#      - name: kibana
#      - name: fluentd
#      - name: elasticcurator
  - name: elkb
    path: daaas-monitoring/elkb
    include:
      - name: elasticsearch
      - name: kibana
      - name: logstash
      - name: beats
#  - name: prometheus-operator
#    path: daaas-monitoring/prometheus/operator
#  - name: prometheus
#    path: daaas-monitoring/prometheus/prometheus 
  - name: prometheus-exporters
    path: daaas-monitoring/prometheus/exporters
    include:
      - name: kube-state-metrics
#      - name: node-exporter
#      - name: edge-collector
#      - name: ms-elastic-search-exporter
#  - name: prometheus-monitors
#    path: daaas-monitoring/prometheus/monitors
#    include:
#      - name: edge-metrics
#      - name: backends      
#      - name: infra
#      - name: nginx
  - name: ingress-namespace
    path: daas-management/haproxy-ingress/namespace
  - name: ingress-controller
    path: daas-management/haproxy-ingress
#  - name: daas-role
#    path: daas-management/daas-role
#  - name: nsc-role
#    path: daas-management/nsc-role
#  - name: ro-dashboard
#    path: daas-management/dashboard
#  - name: gitlab-auth
#    path: daas-management/gitlab-auth
#  - name: apiserver-audit
#    path: daas-management/apiserver
  - name: kafka
    path: daas-management/nsc-kafka
  - name: zookeeper 
    path: daas-management/nsc-zookeeper
