---
context: ""
global:
  dc_name: ""
  registry: registry.dac.nokia.com
  pullsecret: dacsecret
  #dac_pullsecret: dacsecret
  giturl: "gitlabe1.ext.net.nokia.com"
  #ext_domain: ""
import:
  - versions.yaml
include:
  - name: ingress-controller
    path: daas-management/haproxy-ingress
